<div class="component-demo">
  <div class="card">
    <div class="card-header">
      <span class="h3">
        {{ demoTitle }}
      </span>
      <div class="float-right">
        <button class="btn-link" (click)="toggleCode()" title="{{showCode ? 'Hide' : 'Show'}} source code">
          <img src="img/code-icon.png" height="24" width="24" alt="Source code icon"/>
        </button>
      </div>
    </div>
    <div class="card-block" *ngIf="showCode">

    </div>
    <div class="card-block">
      <ng-content></ng-content>
    </div>
  </div>
</div>